{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Edit "{{ post['title'] }}"{% endblock %}</h1>
{% endblock %}

{% block content %}
    <form method="post">
        <label for="title">Title</label>
        <input name="title" id="title" value="{{ request.form['title'] or post['title'] }}" required>
        <label for="body">Body</label>
        <textarea name="body" id="body" >{{ request.form['body'] or post['body'] }}</textarea>
        <!-- When form hasn't been submitted (request.form['body'] in None) original post
         will be displayed. If form was submitted but title is missing (and required attribute was
         somehow avoided), body from current request(the one we are sending, the one with no title) is
         displayed again, so it can be corrected .... confusing. After testing makes sense. request.form is
          global variable representing 'current' request, the one we are sending right now with Save button.-->

        <!-- That would make sense, but why is title coming back after sending request with empty title?
        Current request (request.form['title'] is empty, but after sending this request, what i get back is
        previous title, which is post['body']             I don't get it !-->

        <!-- After testing, it seems that request.form['title'] doesn't work at all.-->
        <input type="submit"  value="Save">
    </form>
    <hr>
    <form action="{{ url_for('blog.delete',id=post['id']) }}" method="post">
        <input type="submit" class="danger" value="Delete!" onclick="return confirm('Are you sure?');">
    </form>
{% endblock %}